version: '3.8'

services:
  webapp:
    build: .  # This assumes your Dockerfile is in the root directory
    container_name: ilcdb-webapp
#    image: sbherndon/ilcdb-webapp:latest
    depends_on:
      - db
    environment:
      MYSQL_HOST: db # Tells the Grails app to connect to the 'db' service
      MYSQL_PORT: 3306
      MYSQL_DATABASE: ilcdb
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_USER_PASSWORD: ${MYSQL_USER_PASSWORD}

  db:
    image: mysql:9
    container_name: ilcdb-mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ilcdb
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_USER_PASSWORD: ${MYSQL_USER_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - webapp

volumes:
  mysql_data:
