<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http:// www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Tomcat Startup Script, by Jesse Wilson, May 27, 2005 -->
<plist version="1.0">
  <dict>
    <key>Label</key>                <string>org.apache.jakarta.tomcat</string>
    <key>OnDemand</key>             <false/>
    <key>Debug</key>                <true/>
    <key>Program</key>              <string>/usr/local/apache-tomcat/bin/tomcat-launchd.sh</string>
    <key>UserName</key>             <string>admin</string>
    <key>StandardOutPath</key>      <string>/Volumes/data/Users/admin/stdout.log</string>
    <key>StandardErrorPath</key>    <string>/Volumes/data/Users/admin/stderror.log</string>
    <key>EnvironmentVariables</key> <dict>
                                        <key>GROOVY_HOME</key>
                                        <string>/usr/local/groovy</string>
                                        <key>GRAILS_HOME</key>
                                        <string>/usr/local/grails</string>
                                        <key>CATALINA_HOME</key>
                                        <string>/usr/local/apache-tomcat</string>
                                        <key>JAVA_HOME</key>
                                        <string>/System/Library/Frameworks/JavaVM.framework/Versions/1.6/Home</string>
                                        <key>JAVA_OPTS</key>
                                        <string>-server -Xmx768m -Djava.awt.headless=true</string>
                                    </dict>
    <key>WorkingDirectory</key>     <string>/tmp</string>
  </dict>
</plist>
